<%include ./partials/header%>

	<div class="container-fluid main-container">

            <div class="row about-container">
                <div class="col col-lg-8">
                    <h1 >About Us</h1>

                    <hr>

                    <p>Founded in 2018, The Video Shop is a modernised online film store that aims to fulfil your movie needs. We offer a wide collection of movies in various formats such as Blu-ray and DVD. While brick and mortar shops are no longer feasible, we take advantage of our cutting edge supply chain management to offer you the best prices for all your movie needs.</p>

                    <p>Upon start up, we have become New Zealand's largest and most reliable source for video movies by mail-order. In fact, our customers are only charged after they have received the film, and have. Choose from our ever growing collection of titles and shop with confidence. With a core team made up of video specialists and not data marketers, we know the video industry better than anyone else.</p>

                    <p>Placeholder text: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit vero ipsam veritatis, unde saepe vitae maxime, nam repellendus beatae ipsa asperiores officia voluptatem exercitationem quos at eaque aperiam ea rerum.</p> 

                </div>
                <div class="col col-lg-4">
                    <img class="main-img" src="/img/dvds.jpg">
                </div>  
            </div>

        </div>

<%include ./partials/footer%>