<%include ./partials/header%>

	<div class="container-fluid main-container">
            <div class="row about-container">
                <div class="col col-lg-8">
                    <h1>Contact Us</h1>
                    <hr>
                    
                    <h3>Phone Us:</h3>
                    <h5>0800 THE VIDEO SHOP</h5>

                    <br>
                    <br>

                    <h3>Email Us:</h3>
                    <h5>support@thevideoshop.com</h5> 
                </div>

                <div class="col col-lg-4">
                    <img class="main-img" src="/img/contact.jpg">
                </div>  

            </div>

        </div>

<%include ./partials/footer%>