<%include ./partials/header%>

    <div class="container-fluid main-container">

            <div class="row about-container">
                <div class="col col-lg-8">
                    <h1 >Privacy Policy</h1>

                    <hr>

                    <p>Here at the Video Shop, we take privacy very seriously. We understnad that you entrust us with the storage and management of your personal data. As such, please know we protect your privacy. We will never share or sell your information, and any personal information will be removed upon the closure of your account.</p>

                    <p>If you have any questions regarding our privacy policy, don't hesitate to contact us!</p>

                    <p>Placeholder text: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit vero ipsam veritatis, unde saepe vitae maxime, nam repellendus beatae ipsa asperiores officia voluptatem exercitationem quos at eaque aperiam ea rerum.</p> 

                </div>
                <div class="col col-lg-4">
                    <img class="main-img" src="/img/dvds.jpg">
                </div>  
            </div>

        </div>

<%include ./partiages/footer%>