<%include ../partials/header%>
	
	<div class="container-fluid main-container">
		<div class="row catalogue-row">
	    	<div style="width: 30%; margin: 25px auto">
	    		<h1 style="text-align: center">Add Review - <%=movie.title%> </h1>
	    		
				<form action="/movies/<%=movie._id%>/reviews" method="POST">
					<div class="form-group">
						<textarea class="form-control review-height" name="review[text]">Review Here</textarea>
						<!-- <input class="form-control" type="text" name="review[text]" placeholder="Review"> -->
					</div>

					<div class="form-group">
						<button class="btn btn-lg btn-primary btn-block">Submit</button>
					</div>
				</form>
			</div>
	    </div>
	</div>

<%include ../partials/footer%>